table {
  width: 100%;
}

.mat-icon-button {
  line-height: unset;
}

.mat-form-field {
  font-size: 14px;
}

.mat-row:nth-child(even){
  background-color: white;
}
      
.mat-row:nth-child(odd){
  background-color: #dbdbdb;
}

.equal {
  color: green;
  font-weight: bold;
}

.greaterthan {
  color: blueviolet;
  font-weight: bold;
}

.smallerthan {
  color: red;
  font-weight: bold;
}
