<mat-grid-list cols = "8" rowHeight="60px">
  <mat-grid-tile colspan="1">
    <button mat-button style= "color:white; background: #3092b3"[matMenuTriggerFor]="menu">
      Select<mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-picker (click) = "$event.stopPropagation()" [companies] = "displayedColumns.slice(2)" [companiesToDisplay] = "columnsToDisplay.slice(2)" (companyEvent)="changeColumn($event)"></app-picker>
    </mat-menu>
  </mat-grid-tile>
  
  <mat-grid-tile colspan="4">
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="data" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <button mat-raised-button mat-icon-button style="background: #c23030; color: white" (click)="resetTable()"> <mat-icon >restore</mat-icon></button>
  </mat-grid-tile>
</mat-grid-list>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay, sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="columnsToDisplay.length">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>